body{
    background-image: url(obrazky/galaxy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0px;
    height: 800px;
    image-rendering: crisp-edges;
    background-color: blueviolet;
    background-attachment: scroll;
}
.header{
    text-align: right;
    margin-right: 20px;
    color: aliceblue;
}
.text{
    color:aliceblue;
    margin-left: 20px;
}
.hypper{
    color:darkgray;
    font-size: large;
}
.idk{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.idk{
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: right;
}
.about{
    color:floralwhite;
    margin-left: 10px;
    font-family: Montserrat;
}
.something{
    color:ghostwhite;
    margin-left: 5px;
    font-family: Raleway;
}
.img1{
    margin-left: 15px
}